body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:782px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:306px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:98px;
  width:604px;
  height:306px;
}
#u673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:2px;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:144px;
  width:606px;
  height:1px;
}
#u674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:105px;
  width:289px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:187px;
  width:44px;
  height:18px;
}
#u676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:247px;
  width:44px;
  height:18px;
}
#u677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:344px;
  width:140px;
  height:25px;
}
#u678_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:187px;
  width:149px;
  height:21px;
}
#u679_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:244px;
  width:149px;
  height:21px;
}
#u680_input {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:21px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:313px;
  width:48px;
  height:16px;
}
#u681_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u681_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:313px;
  width:55px;
  height:16px;
}
#u682_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:37px;
  word-wrap:break-word;
}
#u682_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:313px;
  width:100px;
  height:16px;
}
#u683_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u683_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
