body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:818px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u36_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:227px;
  width:82px;
  height:41px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:78px;
  word-wrap:break-word;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:227px;
  width:82px;
  height:41px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:78px;
  word-wrap:break-word;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:248px;
  width:0px;
  height:0px;
}
#u38_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:146px;
  width:82px;
  height:41px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:78px;
  word-wrap:break-word;
}
#u40_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:339px;
  width:82px;
  height:41px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:78px;
  word-wrap:break-word;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:248px;
  width:0px;
  height:0px;
}
#u41_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u41_seg1 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-85px;
  width:8px;
  height:89px;
}
#u41_seg2 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-85px;
  width:22px;
  height:8px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:248px;
  width:0px;
  height:0px;
}
#u42_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u42_seg1 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-4px;
  width:8px;
  height:120px;
}
#u42_seg2 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:108px;
  width:22px;
  height:8px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:207px;
  width:82px;
  height:41px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:78px;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:282px;
  width:82px;
  height:41px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:78px;
  word-wrap:break-word;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:167px;
  width:0px;
  height:0px;
}
#u45_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u45_seg1 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:-4px;
  width:8px;
  height:69px;
}
#u45_seg2 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:57px;
  width:23px;
  height:8px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:35px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:303px;
  width:0px;
  height:0px;
}
#u46_seg0 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-4px;
  width:23px;
  height:8px;
}
#u46_seg1 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-79px;
  width:8px;
  height:83px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:360px;
  width:0px;
  height:0px;
}
#u47_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:93px;
  height:8px;
}
#u47_seg1 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-134px;
  width:8px;
  height:138px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:207px;
  width:82px;
  height:41px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:78px;
  word-wrap:break-word;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:282px;
  width:82px;
  height:41px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:78px;
  word-wrap:break-word;
}
#u50_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:351px;
  width:82px;
  height:41px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:78px;
  word-wrap:break-word;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:303px;
  width:0px;
  height:0px;
}
#u51_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
#u51_seg1 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:-79px;
  width:8px;
  height:83px;
}
#u51_seg2 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:-79px;
  width:20px;
  height:8px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:303px;
  width:0px;
  height:0px;
}
#u52_seg0 {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:-4px;
  width:99px;
  height:8px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:372px;
  width:0px;
  height:0px;
}
#u53_seg0 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-4px;
  width:22px;
  height:8px;
}
#u53_seg1 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:-72px;
  width:8px;
  height:76px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:-68px;
  top:-35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
